@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
  --btn-bg-color: oklch(75% 0.183 55.934);
}
*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
a:active{
  @apply border-b-amber-400;
}